.container {
  background-color: #f0f8f7;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: 1.4rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1.5);

}

.photo {
  position: relative;
  width: 100%;
}

.photo :global(img) {
  width: 100%;
  height: auto;
  display: block;
}

.localeSwitcher {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 2;
}

.nameBlock {
  position: absolute;
  bottom: 15px;
  /* left: 15px; */
  width: 100%;
background-color: rgb(240, 248, 247, 0.5);
}
