.header {
  position: relative;
  /* color: white; */
  width: 400px;
  height: 420px;
  display: block;
}
.localeSwitcher {
  position: absolute;

  top: 5px;
  right: 10px;
}
.nameBlock {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 95%;
  background-color: rgb(255, 255, 255, 0.5);
}
