.footerMobile {
  display: flex;
  justify-content: space-around;
  padding: 7px 0px;
  background-color: #f0f8f7;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footerMobileList {
  display: flex;
  /* justify-content: space-around; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerMobileItem:not(:last-child) {
  margin-right: 10px;
  text-align: center;
}
.footerMobileItem {
  display: flex;
  align-items: center;
}

/* .contactLine {
  display: flex;
  align-items: center;
} */
.contactLine:hover {
  color: blue;
}

.linkMail {
  padding-bottom: 3px;
  text-decoration: none;
}
.linkPhone {
  text-decoration: none;
}

.icon {
  margin-right: 2px;
}
.footerProfileLnks {
  display: none;
}

@media (min-width: 768px) {
  .footerProfileLnks {
    display: block;
    /* margin-left: 40px; */
  }
}
